---
import Layout from "../../layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "/src/i18n/utils";

import { Image } from "astro:assets";

import astro from "/src/images/techs/astro.png";
import react from "/src/images/techs/react.svg";
import javascript from "/src/images/techs/javascript.svg";
import css from "/src/images/techs/css.svg";
import html from "/src/images/techs/html.svg";
import php from "/src/images/techs/php.svg";
import python from "/src/images/techs/python.svg";
import shopify from "/src/images/techs/shopify.svg";
import wordpress from "/src/images/techs/wordpress.svg";

import ecommerce from "/src/images/index/ecommerce.jpg";
import web from "/src/images/index/web.jpg";
import software from "/src/images/index/software.jpg";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);

import FlipImage3d from "/src/components/FlipImage3d.astro";
---

<Layout title="Jorge Madrid Portillo Portfolio">
  <main
    class="max-w-screen-2xl m-auto flex flex-col gap-12 p-4 sm:p-4 md:p-6 lg:p-8 xl:p-10"
  >
    <div class="grid md:grid-cols-2 grid-cols-1 gap-10 sm:gap-8 max-sm:mb-6">
      <div class="">
        <h3 class="text-4xl text-green-800">{t("index.title")}</h3>
        <h4 class="text-2xl underline decoration-sky-500/50">
          {t("index.subtitle")}
        </h4>
        <p class="mt-5">
          {t("index.description")}
        </p>
      </div>
      <div
        class="sm:hidden flex flex-col justify-between items-center text-xl gap-4"
      >
        <a
          href=`${import.meta.env.BASE_URL}/${lang}/contact`
          class="border shadow p-3 cursor-pointer hover:shadow-sm transition-all duration-300 bg-green-800 text-white"
          >{t("index.contact_me")}</a
        >

        <a
          href=`${import.meta.env.BASE_URL}/${lang}/portfolio`
          class="border shadow cursor-pointer p-3 hover:shadow-sm transition-all duration-300"
          >{t("index.see_portfolio")}</a
        >
      </div>
      <div class="flex flex-col gap-2 justify-between">
        <div class="flex flex-row gap-4 items-center">
          <div
            class="rounded-full border-solid border-2 border-sky-500 rotate-0 w-10 h-10 px-2.5 py-0.5 text-2xl text-sky-500"
          >
            1
          </div>
          <p>
            <b class="underline decoration-sky-500/50"
              >{t("index.get_in_touch")}</b
            >, {t("index.lets_talk")}
          </p>
        </div>

        <div class="flex flex-row gap-4 items-center">
          <div
            class="rounded-full border-solid border-2 border-sky-500 rotate-0 w-10 h-10 px-2.5 py-0.5 text-2xl text-sky-500"
          >
            2
          </div>
          <p>
            <b class="underline decoration-sky-500/50"
              >{t("index.dev_begins")}</b
            >, {t("index.dev_begins_2")}
          </p>
        </div>
        <div class="flex flex-row gap-4 items-center">
          <div
            class="rounded-full border-solid border-2 border-sky-500 rotate-0 w-10 h-10 px-2.5 py-0.5 text-2xl text-sky-500"
          >
            3
          </div>
          <p>
            <b class="underline decoration-sky-500/50">{t("index.delivery")}</b
            >, {t("index.delivery_2")}
          </p>
        </div>
      </div>
    </div>

    <div
      class="max-sm:hidden flex flex-row justify-evenly items-center text-2xl"
    >
      <a
        href=`${import.meta.env.BASE_URL}/${lang}/contact`
        class="border shadow p-4 cursor-pointer hover:shadow-sm transition-all duration-300 bg-green-800 text-white"
        >{t("index.contact_me")}</a
      >

      <a
        href=`${import.meta.env.BASE_URL}/${lang}/portfolio`
        class="border shadow cursor-pointer p-4 hover:shadow-sm transition-all duration-300"
        >{t("index.see_portfolio")}</a
      >
    </div>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-10 sm:gap-8 max-sm:mb-6">
      <div class="flex flex-col gap-5 items-start justify-between">
        <h4 class="text-xl underline decoration-sky-500/50">
          {t("index.ecommerce")}
        </h4>
        <FlipImage3d
          imageSrc={ecommerce}
          alt="ecommerce image"
          title={t("ecommerce.title")}
          sub={t("ecommerce.sub")}
          description={t("ecommerce.description")}
        />
      </div>
      <div class="flex flex-col gap-5 items-start justify-between">
        <h4 class="text-xl underline decoration-sky-500/50">
          {t("index.personal_web")}
        </h4>
        <FlipImage3d
          imageSrc={web}
          alt="web image"
          title={t("personal_web.title")}
          sub={t("personal_web.sub")}
          description={t("personal_web.description")}
        />
      </div>
      <div class="flex flex-col gap-5 items-start justify-between">
        <h4 class="text-xl underline decoration-sky-500/50">
          {t("index.custom_dev")}
        </h4>
        <FlipImage3d
          imageSrc={software}
          alt="software image"
          title={t("custom_dev.title")}
          sub={t("custom_dev.sub")}
          description={t("custom_dev.description")}
        />
      </div>
    </div>
    <div class="flex flex-col items-center gap-6">
      <h5 class="text-lg underline decoration-sky-500/50">
        {t("index.technologies")}
      </h5>
      <div class="flex flex-row flex-wrap gap-10 justify-around items-center">
        <Image src={shopify} alt="react" class="rounded-lg" width="80" />
        <Image src={wordpress} alt="react" class="rounded-lg" width="80" />
        <Image src={astro} alt="astro" class="rounded-lg" width="80" />
        <Image src={react} alt="react" class="rounded-lg" width="80" />
        <Image
          src={javascript}
          alt="javascript"
          class="rounded-lg"
          width="80"
        />
        <Image src={css} alt="react" class="rounded-lg" width="80" />
        <Image src={html} alt="react" class="rounded-lg" width="80" />
        <Image src={python} alt="react" class="rounded-lg" width="80" />
        <Image src={php} alt="react" class="rounded-lg" width="80" />
      </div>
    </div>
    <div class="flex flex-col gap-5 mt-4 mb-8">
      <a href=`${import.meta.env.BASE_URL}/${lang}/portfolio` class="text-xl"
        >{t("index.go_to_portfolio")} &rarr;</a
      >
      <a href=`${import.meta.env.BASE_URL}/${lang}/contact` class="text-xl"
        >{t("index.go_to_contact")} &rarr;</a
      >
      <a href=`${import.meta.env.BASE_URL}/${lang}/about-me` class="text-xl"
        >{t("index.got_to_about_me")} &rarr;</a
      >
    </div>
  </main>
</Layout>
<script>
  function flipImage(img) {
    img.classList.add("transform", "-scale-100");
  }

  function addFlipImageEventListeners() {
    const images = document.querySelectorAll(".image-flip");
    if (images) {
      images.forEach(function (img) {
        img.addEventListener("mouseenter", function () {
          flipImage(img);
        });
      });
    }
  }
  document.addEventListener("astro:after-swap", () => {
    addFlipImageEventListeners();
  });
  addFlipImageEventListeners();
</script>
