---
import Layout from "../../layouts/Layout.astro";
import PortfolioCard from "/src/components/PortfolioCard.astro";

import { getLangFromUrl, useTranslations } from "/src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
import { Image } from "astro:assets";
import web from "/src/images/web.jpg";
import ecommerce from "/src/images/ecommerce.jpg";
import software from "/src/images/software.jpg";
import astro from "/src/images/techs/astro.png";
import react from "/src/images/techs/react.svg";
import javascript from "/src/images/techs/javascript.svg";
import css from "/src/images/techs/css.svg";
import html from "/src/images/techs/html.svg";
import php from "/src/images/techs/php.svg";
import python from "/src/images/techs/python.svg";
import shopify from "/src/images/techs/shopify.svg";
import wordpress from "/src/images/techs/wordpress.svg";
---

<Layout title="Jorge Madrid Portillo Portfolio">
  <main class="max-w-6xl m-auto p-10 flex flex-col gap-12">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-10 sm:gap-8 max-sm:mb-6">
      <div class="">
        <h3 class="text-4xl">Web Development</h3>
        <h4 class="text-3xl">Software Solutions</h4>
        <p class="mt-5">
          Reliable web development with care, attention and dedication.
          Professional level work from a software engineer with years of
          experience.
        </p>
      </div>
      <div class="flex flex-col gap-2 justify-between">
        <div class="flex flex-row gap-4 items-center">
          <div
            class="rounded-full border-solid border-2 border-black rotate-0 w-10 h-10 px-2.5 py-0.5 text-2xl"
          >
            1
          </div>
          <p><b>Get in touch</b>, let's talk about your project.</p>
        </div>

        <div class="flex flex-row gap-4 items-center">
          <div
            class="rounded-full border-solid border-2 border-black rotate-0 w-10 h-10 px-2.5 py-0.5 text-2xl"
          >
            2
          </div>
          <p>
            <b>Development begins</b>, weekly delivers, periodic updates and
            communication.
          </p>
        </div>
        <div class="flex flex-row gap-4 items-center">
          <div
            class="rounded-full border-solid border-2 border-black rotate-0 w-10 h-10 px-2.5 py-0.5 text-2xl"
          >
            3
          </div>
          <p>
            <b>Project delivery</b>, revisions, fixes and polishes to the final
            product.
          </p>
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-10 sm:gap-8 max-sm:mb-6">
      <div class="flex flex-col gap-5 items-start justify-between">
        <h4 class="text-xl">E-commerce</h4>
        <Image src={ecommerce} alt="ecommerce icon" class="rounded-lg" />
      </div>
      <div class="flex flex-col gap-5 items-start justify-between">
        <h4 class="text-xl">Personal websites</h4>
        <Image src={web} alt="ecommerce icon" class="rounded-lg" />
      </div>
      <div class="flex flex-col gap-5 items-start justify-between">
        <h4 class="text-xl">Custom developments</h4>
        <Image src={software} alt="ecommerce icon" class="rounded-lg" />
      </div>
    </div>
    <div class="flex flex-col items-center gap-6">
      <h5 class="text-lg">Technologies</h5>
      <div class="flex flex-row flex-wrap gap-10 justify-around items-center">
        <Image src={shopify} alt="react" class="rounded-lg" width="80" />
        <Image src={wordpress} alt="react" class="rounded-lg" width="80" />
        <Image src={astro} alt="astro" class="rounded-lg" width="80" />
        <Image src={react} alt="react" class="rounded-lg" width="80" />
        <Image
          src={javascript}
          alt="javascript"
          class="rounded-lg"
          width="80"
        />
        <Image src={css} alt="react" class="rounded-lg" width="80" />
        <Image src={html} alt="react" class="rounded-lg" width="80" />
        <Image src={python} alt="react" class="rounded-lg" width="80" />
        <Image src={php} alt="react" class="rounded-lg" width="80" />
      </div>
    </div>
    <div class="flex flex-col gap-5 mt-2">
      <a href="" class="text-xl">Go to the portfolio &rarr;</a>
      <a href="" class="text-xl">Know about me &rarr;</a>
      <a href="" class="text-xl">Contact me / Let's work &rarr;</a>
    </div>
  </main>
</Layout>
