---
import Layout from "../layouts/Layout.astro";
import PortfolioCard from "/src/components/PortfolioCard.astro";

import { portfolioData } from "/src/utils/getPortfolioFromId.js";
---

<Layout title="Jorge Madrid Portillo Portfolio">
  <main>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-5 md:gap-0">
      <PortfolioCard portfolio={portfolioData.donbolsas} />
      <PortfolioCard portfolio={portfolioData.classiques} />
      <PortfolioCard portfolio={portfolioData.topofor} />
      <PortfolioCard portfolio={portfolioData.exfopino} />
      <PortfolioCard portfolio={portfolioData.aerorioja} />
      <PortfolioCard portfolio={portfolioData.yournextproject} />
    </div>
  </main>
</Layout>
