---
interface Props {
  portfolio: any;
}

import { getPortfolioFromId } from "/src/utils/getPortfolioFromId.js";

const { portfolio } = Astro.props;
const { imageSrc, alt, id } = getPortfolioFromId(portfolio.id);

import { Image } from "astro:assets";
import plus from "/src/images/icons/plus.svg";
---

<a id={id} class="relative cursor-pointer group" href={`/project/${id}`}>
  {
    imageSrc ? (
      <Image
        transition:name={`transition-image-${portfolio.id}`}
        class="h-full"
        src={imageSrc}
        alt={alt}
      />
    ) : (
      <div
        transition:name={`transition-image-${portfolio.id}`}
        class="w-full h-full block bg-slate-200 flex flex-col justify-center items-center"
      >
        <p class="text-4xl">{portfolio.title}</p>
      </div>
    )
  }

  <div
    class="bg-black h-full w-full absolute top-0 left-0 opacity-0 group-hover:opacity-50 transition-all"
  >
  </div>
  <div
    class="absolute top-0 left-0 w-full h-full opacity-0 group-hover:opacity-100 flex justify-center items-center transition-all"
  >
    <div
      class="rounded-full border-solid border-4 rotate-0 group-hover:rotate-180 transition-all h-2/6 w-auto"
    >
      <Image src={plus} alt="plus" class="w-full h-full" />
    </div>
  </div>
</a>
