---
interface Props {
  portfolio: any;
}

import { getPortfolioFromId } from "/src/utils/getPortfolioFromId.js";

const { portfolio } = Astro.props;
const { imageSrc, alt, id } = getPortfolioFromId(portfolio.id);

import { Image } from "astro:assets";
import plus from "/src/images/icons/plus.svg";

import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<a
  id={id}
  class="relative cursor-pointer group max-sm:border-b max-sm:border-t"
  href={`${import.meta.env.BASE_URL}/${lang}/project/${id}`}
>
  <div class="relative" transition:name={`transition-image-${portfolio.id}`}>
    <Image class="h-full" src={imageSrc} alt={alt} />
  </div>

  <div
    class="bg-black h-full w-full absolute top-0 left-0 opacity-0 opacity-50 transition-all group-hover:opacity-20"
  >
  </div>
  <div
    class="group-hover:opacity-0 absolute top-2/4 left-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    {
      portfolio.show_title && (
        <div class="flex flex-col gap-3 items-center justify-center w-full">
          <p class="text-white text-7xl w-full ">{portfolio.title}</p>
          <p class="text-white text-5xl">{portfolio.year}</p>
        </div>
      )
    }
  </div>
  <div
    class="absolute top-0 left-0 w-full h-full opacity-0 group-hover:opacity-100 flex justify-center items-center transition-all"
  >
    <div
      class="rounded-full border-solid border-4 rotate-0 group-hover:rotate-180 transition-all h-2/6 w-auto"
    >
      <Image src={plus} alt="plus" class="w-full h-full" />
    </div>
  </div>
</a>
