---
import Layout from "../../layouts/Layout.astro";
import PortfolioCard from "/src/components/PortfolioCard.astro";

import { getLangFromUrl, useTranslations } from "/src/i18n/utils";

const lang = getLangFromUrl(Astro.url);

import { getCollection } from "astro:content";

const projects = await getCollection("project", (data) => {
  return data.id.startsWith(lang);
});

const portfolioData = projects.reduce((result, currentItem) => {
  const { id, data } = currentItem;
  result[data.id] = data;
  return result;
}, {});
---

<Layout title="Jorge Madrid Portillo Portfolio">
  <main>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-5 md:gap-0 max-sm:mb-6">
      <PortfolioCard portfolio={portfolioData.donbolsas} />
      <PortfolioCard portfolio={portfolioData.classiques} />
      <PortfolioCard portfolio={portfolioData.topofor} />
      <PortfolioCard portfolio={portfolioData.exfopino} />
      <PortfolioCard portfolio={portfolioData.aerorioja} />
      <PortfolioCard portfolio={portfolioData.yournextproject} />
    </div>
  </main>
</Layout>
