---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import LanguagePicker from "/src/components/LanguagePicker.astro";

import { getLangFromUrl, useTranslations } from "/src/i18n/utils";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);

import { Image } from "astro:assets";
import menuIcon from "/src/images/icons/menu.png";
import crossIcon from "/src/images/icons/cross.png";
// Supports weights 300-900
import "@fontsource-variable/rubik";
---

<!doctype html>
<html lang={lang}>
  <meta charset="UTF-8" />
  <meta name="description" content="Jorge Madrid Portillo" />
  <meta name="viewport" content="width=device-width" />
  <link
    rel="icon"
    type="image/svg+xml"
    href={`${import.meta.env.BASE_URL}/favicon.svg`}
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ViewTransitions />

  <body>
    <header
      transition:animate="none"
      class="sticky top-0 z-50 bg-white py-2 px-6 max-sm:px-4 border-b flex flex-row justify-between items-center"
    >
      <a
        href=`${import.meta.env.BASE_URL}/${lang}`
        class="flex flex-col items-center"
      >
        <h1 class="text-2xl">Jorge Madrid Portillo</h1>
        <h2 class="text-xl">Software Dev</h2>
      </a>

      <button id="menu-button" class="sm:hidden">
        <Image
          src={menuIcon}
          alt="spain icon"
          width="35"
          height="35"
          id="menu-button-burger"
        />
        <Image
          src={crossIcon}
          alt="spain icon"
          width="30"
          height="30"
          class="hidden"
          id="menu-button-cross"
        />
      </button>

      <div class="flex flex-row gap-3 max-sm:hidden">
        <a href={`${import.meta.env.BASE_URL}/${lang}/`}>{t("nav.portfolio")}</a
        >
        <a href={`${import.meta.env.BASE_URL}/${lang}/about-me`}
          >{t("nav.about")}</a
        >
        <a href=`${import.meta.env.BASE_URL}/${lang}/contact`
          >{t("nav.contact")}</a
        >
        <LanguagePicker />
      </div>
    </header>

    <slot />
    <div
      id="mobile-menu"
      class="fixed z-90 w-screen h-screen -left-[100%] flex justify-center items-center bg-white opacity-0 duration-200 top-0"
    >
      <div class="flex flex-col gap-6 text-3xl">
        <a href={`${import.meta.env.BASE_URL}/${lang}/`}>{t("nav.portfolio")}</a
        >
        <a href={`${import.meta.env.BASE_URL}/${lang}/about-me`}
          >{t("nav.about")}</a
        >
        <a href=`${import.meta.env.BASE_URL}/${lang}/contact`
          >{t("nav.contact")}</a
        >
        <LanguagePicker isMobile={true} />
      </div>
    </div>
    <footer
      transition:animate="none"
      class="fixed bottom-0 z-50 bg-white py-0.5 px-5 border-t flex flex-row justify-between w-full text-sm"
    >
      <a href="">&#128007;</a>
      <span class="text-md">Jorge Madrid Portillo - 2023</span>

      <span
        >{t("footer.made_with")}
        <a class="text-blue-400" target="_blank" href="https://astro.build/"
          >Astro</a
        ></span
      >
    </footer>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
      }
      body {
        font-family: "Rubik Variable", sans-serif;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
    <script>
      var isMenuOpened = false;

      function closeMenu() {
        var menu = document.getElementById("mobile-menu");
        var menuButtonBurger = document.getElementById("menu-button-burger");
        var menuButtonCross = document.getElementById("menu-button-cross");
        isMenuOpened = false;
        menu.classList.add("-left-[100%]", "opacity-0");
        menu.classList.remove("left-0", "opacity-95");
        menuButtonBurger.classList.remove("hidden");
        menuButtonCross.classList.add("hidden");
      }
      function toggleMenu() {
        var menu = document.getElementById("mobile-menu");
        var menuButtonBurger = document.getElementById("menu-button-burger");
        var menuButtonCross = document.getElementById("menu-button-cross");

        if (!isMenuOpened) {
          isMenuOpened = true;
          menu.classList.remove("-left-[100%]", "opacity-0");
          menu.classList.add("left-0", "opacity-95");
          menuButtonBurger.classList.add("hidden");
          menuButtonCross.classList.remove("hidden");
        } else {
          closeMenu();
        }
      }

      function addOpenMenuEventListener() {
        const menuButton = document.querySelector("#menu-button");
        if (menuButton) {
          menuButton.addEventListener("click", () => {
            toggleMenu();
          });
        }
      }
      document.addEventListener("astro:after-swap", () => {
        addOpenMenuEventListener();
        closeMenu();
      });
      addOpenMenuEventListener();
    </script>
  </body>
</html>
