---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import LanguagePicker from "/src/components/LanguagePicker.astro";

import { getLangFromUrl, useTranslations } from "/src/i18n/utils";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <meta charset="UTF-8" />
  <meta name="description" content="Jorge Madrid Portillo" />
  <meta name="viewport" content="width=device-width" />
  <link
    rel="icon"
    type="image/svg+xml"
    href={`${import.meta.env.BASE_URL}/favicon.svg`}
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ViewTransitions />

  <body>
    <header
      transition:animate="none"
      class="sticky top-0 z-50 bg-white py-2 px-6 max-sm:px-2 border-b flex flex-row justify-between items-center"
    >
      <a
        href=`${import.meta.env.BASE_URL}/${lang}`
        class="flex flex-col items-center"
      >
        <h1 class="text-2xl max-sm:text-lg">Jorge Madrid Portillo</h1>
        <h2 class="text-xl max-sm:text-lg">Software Dev</h2>
      </a>

      <div class="flex flex-row gap-3">
        <a href={`${import.meta.env.BASE_URL}/${lang}/portfolio`}
          >{t("nav.portfolio")}</a
        >
        <a href={`${import.meta.env.BASE_URL}/${lang}/about-me`}
          >{t("nav.about")}</a
        >
        <a href=`${import.meta.env.BASE_URL}/${lang}/contact`
          >{t("nav.contact")}</a
        >
        <LanguagePicker />
      </div>
    </header>

    <slot />
    <footer
      transition:animate="none"
      class="fixed bottom-0 z-50 bg-white py-0.5 px-5 border-t flex flex-row justify-between w-full text-sm"
    >
      <a href="">&#128007;</a>
      <span class="text-md">Jorge Madrid Portillo - 2023</span>

      <span
        >{t("footer.made_with")}
        <a class="text-blue-400" target="_blank" href="https://astro.build/"
          >Astro</a
        ></span
      >
    </footer>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        /* background: #13151a; */
        /* background-size: 224px; */
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
